.sidebar {
    position: fixed;
    top: 12%;
    left: 20%;
    flex: 0.2;
    border-radius: 10px;
    text-align: center;
    height: fit-content;
    max-width: 200px
}

.sidebar__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--border_accent);
    border-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--primary);
    padding-bottom: 10px;

    h4 {
        color: var(--text_accent);
        padding-left: 10px;
        padding-right: 10px;
    }

    h2 {
        color: var(--text_accent);
        font-size: 18px;
    }

    img {
        width: 100%;
        height: 60px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        object-fit: cover;
        object-position: 50% 50%;
    }

    .sidebar__avatar {
        position: relative;
        display: flex;
        margin-top: -20px;
    }
}

.sidebar__stat {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;

    p {
        color: var(--logo_accent);
        font-size: 13px;
        font-weight: 600;
    }
}

.sidebar__stats {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--border_accent);
    background-color: var(--primary);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.sidebar__statNumber {
    font-weight: bold;
    color: var(--normal_accent) !important;
}

// .sidebar__bottom {
//     text-align: left;
//     padding: 10px;
//     border: 1px solid var(--border_accent);
//     background-color: white;
//     border-radius: 10px;
//     margin-top: 10px;
// }

// .sidebar__recentItem {
//     display: flex;
//     font-size: 13px;
//     color: gray;
//     font-weight: bolder;
//     cursor: pointer;
//     margin-bottom: 5px;
//     padding: 5px;
// }

// .sidebar__recentItem:hover {
//     background-color: whitesmoke;
//     border-radius: 10px;
//     cursor: pointer;
//     color: black;
// }