.comment__container {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: var(--text_accent);

    .comment__name_comment {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        width: 100%;
    }
}

.comment__container__outer{
    display: flex;
    min-width: 250px;
    flex-direction: column;
    background-color: var(--search_accent);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}