.default__profile {
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 50vw;

    .cover__photo {
        width: 100%;
        height: 6rem;
        background-color: #0177b7;
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .profile__photo {
        margin-left: 0.8rem;
        width: 5rem;
        height: 5rem;
        margin-top: -2rem;
    }

    .sub__information {
        display: flex;

        .mid__dot {
            margin-top: -0.2rem;
        }

        .contact__info {
            color: #0177b7;
            font-weight: 1000;
        }
    }

    .connection {
        color: #0177b7;
        font-weight: 500;
        margin-top: 5px;
        margin-bottom: 5px;
        cursor: pointer;
    }

    p {
        font-size: 0.85rem;
    }

    .buttons {
        display: flex;
        gap: 5px;

        button {
            background-color: white;
            color: #0177b7;
            border: #0177b7 solid 2px;
            font-size: small;
            padding-top: 8px;
            padding-bottom: 8px;
            border-radius: 20px;
            padding-left: 8px;
            padding-right: 8px;
            font-weight: 600;
        }

        button:hover {
            background-color: #0177b7;
            color: white;
            border: #0177b7 solid 2px;
        }
    }
}

$width: 500px;
$height: 500px;
.edit__profile_show{
    position: fixed;
    background-color: blue;
    min-width: $width;
    min-height: $height;
    top: 50%;
    left: 50%;
    margin-top: -($width/2); /* Negative half of height. */
    margin-left: -($height/2); /* Negative half of width. */
    border: 1px solid black;
    box-shadow: 0.5px 0.5px 2px 2px grey;
    border-radius: 10px;
    z-index: 4;
}

#overlay_show {
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 3;
}

.edit__profile_invisible{
    display: none;
}

#overlay_invisible {
    display: none;
}