.default__profile {
    background-color: var(--primary);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 50vw;
    color: var(--text_accent);

    .profile_in_pdf {
        display: none;
    }

    .cover__photo {
        width: 100%;
        height: 12rem;
        // background-color: var(--normal_accent);

        img {
            object-fit: cover;
            object-position: 50% 50%;
            width: 100%;
            height: 100%;
        }
    }

    .profile__photo {
        margin-left: 0.8rem;
        width: 5rem;
        height: 5rem;
        margin-top: -2rem;
    }

    .sub__information {
        display: flex;

        .mid__dot {
            margin-top: -0.2rem;
        }

        .contact__info {
            color: #0177b7;
            font-weight: 1000;
        }
    }

    .connection {
        color: #0177b7;
        font-weight: 500;
        margin-top: 5px;
        margin-bottom: 5px;
        cursor: pointer;
    }

    p {
        font-size: 0.85rem;
    }

    .buttons {
        display: flex;
        gap: 5px;

        button {
            border: 1px solid var(--normal_accent);
            background-color: var(--primary);
            color: var(--normal_accent);
            font-size: small;
            padding-top: 8px;
            padding-bottom: 8px;
            border-radius: 20px;
            padding-left: 8px;
            padding-right: 8px;
            font-weight: 600;
        }

        button:hover {
            border: 2px solid #0b65c3;
            background-color: var(--hover_accent);
        }
    }
}

$width: 500px;
$height: 500px;

.edit__profile_show {
    position: fixed;
    background-color: var(--primary);
    min-width: $width;
    min-height: $height;
    top: 50%;
    left: 50%;
    margin-top: -($width/2);
    margin-left: -($height/2);
    border: 1px solid var(--border_accent);
    box-shadow: 0.5px 0.5px 0.5px 0.5px var(--border_accent);
    border-radius: 10px;
    z-index: 4;
}

#overlay_show {
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
}

.edit__profile_invisible {
    display: none;
}

#overlay_invisible {
    display: none;
}

.post__popup_share_show {
    position: absolute;
    // display: flex;
    margin-left: 200px;
    width: 230px;
    height: auto;
    background-color: var(--primary);
    border-radius: 10px;
    border: 2px solid var(--border_accent);
    padding: 10px;

    hr {
        border: 0;
        height: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
}

.post__popup_share_hide {
    display: none;
}