.edit_profile {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;

    .exit_button {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: flex-start;
        margin-top: 10px;
        color: var(--text_accent);
        font-size: larger;
        font-weight: 600;

        span {
            display: flex;
            color: var(--text_accent);
            justify-content: flex-end;
            cursor: pointer;
            font-size: large;
        }
    }

    button {
        margin-top: 10px;
        padding-right: 20px;
        padding-left: 20px;
        margin-left: 10px;
        font-size: medium;
        padding-top: 8px;
        padding-bottom: 8px;
        border-radius: 20px;
        border: 1px solid var(--normal_accent);
        background-color: var(--primary);
        color: var(--normal_accent);
    }
    button:hover{
        border: 2px solid var(--normal_accent);
        background-color: var(--hover_accent);
    }
}

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;

    .form__field {
        font-family: inherit;
        width: 100%;
        border: 0;
        border-bottom: 2px solid;
        outline: 0;
        font-size: 1.3rem;
        color: var(--text_accent);
        padding: 7px 0;
        background: transparent;
        transition: border-color 0.2s;

        &::placeholder {
            color: transparent;
        }

        &:placeholder-shown~.form__label {
            font-size: 1.3rem;
            cursor: text;
            top: 20px;
        }
    }

    .form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: var(--text_accent);
    }

    .input_file{
        margin-top: 10px;
        border-radius: 4px;
    }
}

.form__field:focus {
    .form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: var(--text_accent);
        font-weight: 700;
    }

    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, var(--text_accent), var(--text_accent));
    border-image-slice: 1;

    .form__field {

        &:required,
        &:invalid {
            box-shadow: none;
        }
    }
}