.feed {
    flex: 0.6;
    margin: 0 20px;
    background-color: var(--secondary);
    border-radius: 10px;
    height: fit-content;
    padding-bottom: 10px;
    padding-left: 270px;
    overflow: auto;
    max-width: 30%;
}

.feed__inputContainer {
    background-color: var(--primary);
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.feed__input {
    border: 1px solid var(--border_accent);
    border-radius: 30px;
    display: flex;
    padding: 10px;
    // color: gray;
    padding-left: 15px;

    form {
        display: flex;
        width: 100%;

        input {
            border: none;
            flex: 1;
            margin-left: 10px;
            outline-width: 0;
            font-weight: 600;
            background-color: var(--primary);
        }

        button {
            display: none;
        }
    }
}

.feed__inputOptions {
    display: flex;
    justify-content: space-evenly;
}

$width: 500px;
$height: 250px;

.create_post__show {
    position: fixed;
    background-color: var(--primary);
    width: $width;
    min-height: $height;
    max-height: 500px;
    top: 50%;
    left: 50%;
    margin-top: -($width/2);
    margin-left: -($height);
    border: 1px solid var(--border_accent);
    box-shadow: 0.5px 0.5px 0.5px 0.5px var(--border_accent);
    border-radius: 10px;
    z-index: 4;
    overflow-y: scroll;
}

#overlay_show {
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
}

.create_post__invisible {
    display: none;
}

#overlay_invisible {
    display: none;
}

.loadmore__button {
    display: flex;
    justify-content: center;

    button {
        background-color: var(--primary);
        color: var(--normal_accent);
        border: 1px solid var(--normal_accent);
        font-size: small;
        padding-top: 8px;
        padding-bottom: 8px;
        border-radius: 20px;
        padding-left: 8px;
        padding-right: 8px;
        font-weight: 600;
    }

    button:hover {
        background-color: var(--hover_accent);
        border: 2px solid var(--normal_accent);
    }
}

.loading__feed{
    display: flex;
    width: 100px;
    justify-content: center;
    padding-left: 30%;
    padding-right: 220px;
}