.feed {
    flex: 0.6;
    margin: 0 20px;
    background-color: var(--primary);
    border-radius: 10px;
    border: 1px solid var(--border_accent);
    height: fit-content;
    padding-bottom: 10px;
}

.feed__inputContainer {
    background-color: var(--primary);
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.feed__input {
    border: 1px solid var(--border_accent);
    border-radius: 30px;
    display: flex;
    padding: 10px;
    color: gray;
    padding-left: 15px;
    form {
        display: flex;
        width: 100%;
        input {
            border: none;
            flex: 1;
            margin-left: 10px;
            outline-width: 0;
            font-weight: 600;
            background-color: var(--primary);
        }
        button {
            display: none;
        }
    }
}

.feed__inputOptions {
    display: flex;
    justify-content: space-evenly;
}