.container__jobs_card {
    display: flex;
    width: 80%;
    margin-bottom: 15px;

    .avatar {
        width: 70px;
        height: 70px;
    }

    .card__description {
        font-size: medium;
        margin-left: 10px;

        p {
            margin-bottom: 2px;
        }

        .name {
            font-weight: 500;
        }

        .work {
            font-weight: 300;
        }

        button {
            margin-top: 2px;
            padding-right: 20px;
            padding-left: 20px;
            margin-left: 10px;
            font-size: medium;
            padding-top: 8px;
            padding-bottom: 8px;
            border-radius: 20px;
            border: 1px solid var(--normal_accent);
            background-color: var(--primary);
            color: var(--normal_accent);
        }

        button:hover {
            border: 2px solid var(--normal_accent);
            background-color: var(--hover_accent);
        }
    }
}