.user_helper {
    display: grid;
    place-items: center;
    padding: 5vh;
    width: max-content;
    border-radius: 10px;
    border: 0.5px solid var(--border_accent);
    background-color: var(--primary);
    color: var(--text_accent);

    .title {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 350px;
        color: var(--text_accent);

        p {
            margin-top: 0;
            float: left;

        }
    }

    form {
        display: flex;
        flex-direction: column;

        input {
            width: 350px;
            height: 40px;
            font-size: 15px;
            padding-left: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
        }
    }

    p {
        margin-top: 25px;
        font-size: 15px;
    }

    .href {
        margin-bottom: 20px;
        color: #3267bb;
        text-decoration: none;
        cursor: pointer;
        font-size: medium;
        margin-top: 10px;
    }

    button {
        padding-top: 8px;
        padding-bottom: 8px;
        border-radius: 20px;
        height: 45px;
        font-size: medium;
        border: 0;
        background-color: var(--normal_accent);
        color: white;
    }

    button:hover {
        background-color: #004181;
    }

    .button_disable {
        background-color: #0b65c3;
        cursor: not-allowed;
        color: rgba(255, 255, 255, 0.5);
    }

    .button_disable:hover {
        background-color: #004181;
        color: rgba(255, 255, 255, 0.5);
    }

    .button_active {
        background-color: #0b65c3;
        cursor: pointer;
    }

    .button_active:hover {
        background-color: #004181;
    }
}

.user_helper_outer {
    display: grid;
    width: 100vw;
    height: 100vh;
    place-items: center;
    background-color: var(--secondary);
}