.user_helper {
    display: grid;
    place-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25vh;
    padding-bottom: 25vh;

    .title {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 350px;
        padding-bottom: 10px;

        p {
            margin-top: 0;
            float: left;

        }
    }

    form {
        display: flex;
        flex-direction: column;

        input {
            width: 350px;
            height: 40px;
            font-size: 15px;
            padding-left: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
        }
    }

    p {
        margin-top: 25px;
        font-size: 15px;
    }

    .href {
        margin-bottom: 20px;
        color: #0b52c3;
        text-decoration: none;
        cursor: pointer;
        font-size: medium;
        margin-top: 10px;
    }

    button {
        padding-top: 8px;
        padding-bottom: 8px;
        border-radius: 20px;
        height: 45px;
        font-size: medium;
        border: 0;
        background-color: #0b65c3;
        color: white;
    }

    button:hover {
        background-color: #004181;
    }

    .button_disable{
        background-color: #0b65c3;
        cursor: not-allowed;
        color: rgba(255, 255, 255, 0.5);
    }

    .button_disable:hover{
        background-color: #004181;
        color: rgba(255, 255, 255, 0.5);
    }

    .button_active{
        background-color: #0b65c3;
        cursor: pointer;
    }

    .button_active:hover{
        background-color: #004181;
    }
}