.container__widget {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.widgets {
    position: sticky;
    top: 80px;
    flex: 0.2;
    background-color: var(--primary);
    border-radius: 10px;
    border: 1px solid var(--border_accent);
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;

    h2 {
        font-size: 16px;
        font-weight: 400;
    }
}

.widgets__article {
    display: flex;
    padding: 10px;
    cursor: pointer;
}

.widgets__article:hover {
    background-color: whitesmoke;
}

.widgets__articleLeft {
    color: #0177b7;
    margin-right: 50px;

    MuiSvgIcon--root {
        font-size: 15px;
    }
}

.widgets__articleRight {
    flex: 1;

    h4 {
        font-size: 14px;
    }

    p {
        font-size: 12px;
        color: gray;
    }
}

.link {
    font-size: 12px;
    color: gray;
    padding: 5px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    width: 18vw;
    justify-content: center;
    align-self: center;
    .link{
        cursor: pointer;
        text-decoration: underline;
    }
}

.logo__container {
    color: var(--text_accent);

    .logo {
        width: 70px;
        height: auto;
        padding-right: 5px;
    }
}